// style file of LayerInfo.tsx and ServiceInfo.tsx
@import '_common-style.scss';

// style for layerSearch component
.main_container_content_imglist{
    background: $white;
}

// style for the service detailed info page
._info{
    font-size: $nav_font_size;
    header{
        margin-top: $bound_padding;
        a{
            margin-left: $bound_padding * 0.5;
        }
    }
    &_container{
        background-color: $white;
        margin-top: $bound_padding;
        padding: $bound_padding;
        &_header{
            font-size: $nav_font_size + 5px;
        }
        &_section{
            margin-bottom: $bound_padding;
            a{
                font-size: 12.5px;
            }
            &_header{
                font-size: $nav_font_size;
            }
            &_content{
                margin-top: $bound_padding;
                div{
                    height: 280px;
                    width: 450px;
                    text-align: center;
                }
                img{
                    width: 450px;
                    height: auto;
                    border: 2px solid rgb(78, 173, 236);
                    padding: 1.5px;
                }

                span.tag{
                    margin-left: $bound_padding;
                    background: MintCream ;
                    border:1.5px solid Silver ;
                    border-radius:5px;
                    text-align: center;
                    padding: 2px 4px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 2px 6px;
                }

                span.tagnull{
                    margin-left: $bound_padding;
                    border:1.5px solid Silver ;
                    border-radius:5px;
                    text-align: center;
                    padding: 2px 4px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 2px 6px;
                }

                .icon{
                    margin-right:  $bound_padding * 0.5;
                }
                .span{
                    margin-left: $bound_padding;
                }
                span,p{
                    word-wrap:break-word;
                    word-break:break-all;
                    margin-left: 6px;
                }
                p{
                    padding: 0;
                    margin-top: $bound_padding;
                    margin-bottom:0;
                }
            }
            
        }
    }
}